body {
    font-family: Consolas, serif;
}

label {
    padding-bottom: 30px;
}

textarea {
    height: 50vh;
    width: 90vw;
    padding: 10px;
}

.runBtn {
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    font-size: 150%;
    border-radius: 5px;
    font-family: Consolas, serif;
}

.inputForm {
    white-space: nowrap;
    outline: none;
    border: none;
}

textarea {
    border: none transparent;
    background-color: rgb(241, 241, 241);
    overflow: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    caret-color: rgb(0, 0, 0);
    font: inherit;
    font-feature-settings: inherit;
    font-optical-sizing: inherit;
    tab-size: inherit;
    padding-left: 8px;
}


.codeOut {
    padding-left: 10px;
}