body {
    font-family: Consolas, serif;

}

.topPart {
    text-align: center;
    position: relative;
    margin: auto;
    width: 50%;
}

h1 {
    text-align: center;
}

.runBtn {
    padding: 20px;
    background-color: lightgrey;
    color: darkgray;
    font-size: 150%;
    width: 100%;
    border: none;
    margin: auto;
    position: center;
}

.inputForm {
    white-space: nowrap;
    outline: none;
    border: none;
}

.codeHeader {
    background-color: #0F192A;
    color: white;
    text-align: center;
    padding: 5px;
}

.fullCode {
    float: left;
    outline-color: #0F192A;
    width: 49.5%;
}

.fullOut {
    float: right;
    outline-color: #0F192A;
    width: 49.5%;
    height: 800px
}

.outputHeader {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 5px;
}

.codeOut {
    padding-left: 10px;
    background-color: rgb(241, 241, 241);
    height: 740px;
    overflow-y: auto;
}


textarea {
    caret-color: rgb(0, 0, 0);
    font: inherit;
    font-feature-settings: inherit;
    font-optical-sizing: inherit;
    tab-size: inherit;
    position: relative;
}

